body{
  background-color:lightgreen;
}

.container{
  text-align:center;
}
#myCanvas{
    border:solid black 2px;
    display:inline-block;
    cursor:crosshair;
    margin: auto;
}
#mousePos{
    border:solid black 2px;
}

#gameData{
    border:solid black 2px;
display:inline-block;
position:relative;
top: -400px;

}

#instructions{
  width:25%;
  position:absolute;
  top: 250px;
}

#list{
  width:25%;
  position:relative;
  /*left: 800px;*/
  float:right;
  top: -400px;
}

#newGame{
    position:absolute;
    top:10px;
    left:410px;

}
.info{
  text-align:center;
  border: solid black 2px;
  margin: 20px;
  width: 150px;
  background-color: aqua;

}
.button{
    text-align:center;
    border:solid black 2px;
    margin:20px;
    width:150px;
    transition: all 0.2s linear;
    background-color:#F8E200;
}
.button:hover{
  background-color:#FFF7AB;
}
/*.button:active{
  background-color:#004C80;
}*/
