#myCanvas{
    border:solid black 2px;
    display:inline-block;
    cursor:crosshair;
    position:relative;
}
#mousePos{
    border:solid black 2px;
}

#gameData{
    border:solid black 2px;
    position:absolute;
    top:80px;
    left:420px;

}


#newGame{
    position:absolute;
    top:10px;
    left:410px;

}
.info{
    text-align:center;
    border:solid black 2px;
    margin:20px;
    width:300px;

}
